body {
    background:#518EA6;
    font-family:Arial, Helvetica, sans-serif;
}

.assignments {
    display:flex;
    flex-wrap:wrap;
}

.assignment {
    width:30%;
    padding:10px;
    margin:10px;
    margin-bottom:30px;
    background:#F2A25C;
    border-radius:5px;
    box-shadow: 5px 8px #F2884B;
}

.assignment img {
    width:300px;
    height:270px;
    border: 2px solid #518EA6;
    margin-right: 20px;
    border-radius:5px;
    display:block;
    margin:auto;
}

h1 {
    color:#F2884B;
    text-align:center;
}

a {
    text-decoration:none;
    color:black;
}

.assignment a:hover {
    color: #518EA6;
}

